<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Telemed App</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="images/telemedicon.png" />


</head>

<body>
<div class="container-fluid">
  <button class="menu-toggle" onclick="toggleMenu()">&#9776;</button>
  <!-- Sidebar -->
  <div class="sidebar" id="sidebar-menu">
    <h3> <img src="images/telemed.png" width="230" height="80"></h3>
    <nav class="flex-grow-1 d-flex flex-column">
      <button class="btn btn-danger mt-3" onclick="location.href = '/patientStatus'">
        Natrag
      </button>

    </nav>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <h2 class="mt-4">Novi zapis</h2> <br>
    <div class="row">
      <div class="col-6">
        <form action="/editPatientStatus">
          <div class="form-group pt-2">
            <div>
              <label for="tlak1">Sistolički tlak</label><br>
              <input th:value = "${patientStatus.systolic}" class="form-control mb-3 js-st" type="number" id="tlak1" placeholder="Unesite samo broj npr. 128" name="systolic">
            </div>
            <div>
              <label for="tlak2">Dijastolički tlak</label><br>
              <input th:value = "${patientStatus.diastolic}" class="form-control mb-3 js-dt" type="number" id="tlak2" placeholder="Unesite samo broj npr. 86" name="diastolic">
            </div>
            <div>
              <label for="puls">Puls</label><br>
              <input th:value = "${patientStatus.pulse}" class="form-control mb-3 js-puls" type="number" id="puls" placeholder="Unesite samo broj npr. 70" name="pulse">
            </div>
            <div>
              <label for="opis">Opis stanja</label><br>
              <textarea th:text = "${patientStatus.comment}" class="form-control mb-3 js-opis" style="height: 90px;" type="text" id="opis" placeholder="Opišite kako se osjećate.." name="comment"></textarea>
            </div>
            <div>
              <label for="date">Datum i vrijeme</label><br>
              <input th:value = "${patientStatus.date}" class="form-control mb-3 js-vrijeme" type="date" id="date" name="date"> <br>
            </div>
            <input th:value = "${patientStatus.id}" name="id" type="hidden">

            <button class="btn btn-primary" name="toPatientsStatus" type="submit">Spremi</button>
            <button class="btn btn-primary btn-danger" name="reset" type="reset">Obriši</button>
          </div>
        </form>
      </div>
      <div class="col-6 d-flex justify-content-center align-items-center">
        <img src="images/blood-pressure.jpg" class="img img-fluid shadow" style="width: auto; max-height: 550px;">
      </div>
    </div>
  </div>
</div>
<script src="scripts/new_record.js"></script>
</body>
</html>

