<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>
</head>
<body>
<h1>List of Patients</h1>
<table border="1">
    <thead>
    <tr>
        <th>MB</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Datum Rođenja</th>
        <th>Spol</th>
        <th>Adresa</th>
        <th>PB</th>
        <th>Grad</th>
        <th>Kontakt</th>
        <th>Email</th>
        <th>Korisničko Ime</th>
        <th>Lozinka</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.mb}"></td>
        <td th:text="${patient.ime}"></td>
        <td th:text="${patient.prezime}"></td>
        <td th:text="${patient.datumRodjenja}"></td>
        <td th:text="${patient.spol}"></td>
        <td th:text="${patient.adresa}"></td>
        <td th:text="${patient.pb}"></td>
        <td th:text="${patient.grad}"></td>
        <td th:text="${patient.kontakt}"></td>
        <td th:text="${patient.email}"></td>
        <td th:text="${patient.korisnickoIme}"></td>
        <td th:text="${patient.lozinka}"></td>
    </tr>
    </tbody>
</table>
<a href="/addPatientForm">Dodaj Pacijenta</a>
</body>
</html>
